@media screen and (min-width: 480px) {
	table td {
		font-size: 1em;
	}

	.left_col {
		font-size: 1em;
		width: 96px;
	}

	#name, #email, #message, #background {
	font-size: 1em;
	width: 270px;
	}

	#form-button {
		width: 386px;
	}

	#line {
		display: none;
	}
}

@media screen and (min-width: 830px) { 
	

	/**************
	PAGE: ABOUT;
	**************/
	.profile-photo {
		float: left;
		margin: 0 5% 400px 0;
	}

	h3 {
		text-align: left;
	}

	/*************
	HEADER;
	**************/
	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}

	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%;
	}


	h1 {font-size: 2.5em;}

	h2 {font-size: 0.825em;
		margin-bottom: 20px;}

	header {border-bottom: 5px solid #599a68;
			margin-bottom: 60px;
			float: left;
		}

	/**************
	OTHERS;
	**************/
	footer {padding-top: 80px;}	
	form {margin-top: 20px;}

	/**************
	FORM;
	**************/
	table td {
		max-width: none;
	}

	#name, #email, #message, #background {
	width: 398px;
	box-sizing: content-box;
	}	
	
	#form-button {
	width: 515px;
	}

	#message {
		height: 130px;
	}

	/**************
	BLOG;
	**************/
	#blog-title h1 {
		text-align: left;
	}

	.blog-post h2 {
		text-align: left;
	}
}




