@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  /*src: local('Oswald Light'), local('Oswald-Light'), url(../fonts/Oswald-Light.woff) format('woff');*/
  src: url(../fonts/Oswald-Light.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  /*src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/Oswald-Regular.woff) format('woff');*/
  src: url(../fonts/Oswald-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  /*src: local('Oswald Bold'), local('Oswald-Bold'), url(../fonts/Oswald-Bold.woff) format('woff');*/
  src: url(../fonts/Oswald-Bold.woff) format('woff');
}

body{
    background-color:#E8EEEF;
    padding-top:40px;
}
a {
    color:#448D8F;
    text-decoration:none;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight:700;    
}
.wider {
    width:980px;
    max-width:980px;
    margin:0 auto;
    font-size:0;
}
.clear {
    clear: both;
}
#header {
    background-color:#448D8F;
    height:34px;
    width:100%;
    padding-top:5px;
    border-bottom:solid 1px white;
    position:fixed;
    z-index:100;
    top:0;
}
#footer {
    background-color:#00041B;
    height:29px;
    width:100%;   
    margin-top:30px; 
    text-align:right;
    bottom:0;
    z-index:99;
}
#footer a{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight:300;
    font-size:12px;
    text-decoration:none;
    color:#98D3CD;
    margin-top:8px;
    margin-right: 20px;
    display:inline-block;
}
#footer a:hover{
    color:white;
}
#logo {
    background-image: url(../images/logo.png);
    width:144px;
    height:29px;
    display:inline-block;
    margin-top: -3px;
    margin-left:5px;
}
#idol-search-con {
    display:inline-block;    
    vertical-align:top;
    width:379px;
    height:29px;
}
#search-idol {
    width:307px;
    height:29px;
    margin:0;
    padding:0;
    border:none;
    outline:none;
    margin-left: 50px;
    padding-left:21px;
    color:#448D8F;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight:300;
    font-size:13px;
}
#search-img-btn {
    background-image:url(../images/search-icon.png);
    background-repeat:no-repeat;
    width:29px;
    height:29px;
    position:absolute;
    z-index:2;   
    margin-left: 350px;
    cursor:pointer;
}

#search-idol-suggest {
    width:328px;
    height:auto;    
    margin-left: 50px;
    background-color: white;
    display:none;
    cursor:pointer;
}
#search-idol:focus + #search-idol-suggest{
    display:block;
}
#search-idol-suggest .suggest {
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 13px;
    padding-right:9px;
    border-top:solid 1px #448D8F;
    height:36px;
}
#search-idol-suggest .suggest:hover {
background-color:#F4F7F8;
}
#search-idol-suggest .suggest > img{
    width:35px;
    height:35px;
    float:left;
    margin-right:15px;
}
#search-idol-suggest .suggest .artist{
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:16px;
    color:black;
    display:block;
    margin-bottom:4px;
    letter-spacing:0.7px;
}
#search-idol-suggest .suggest .cate{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:12px;
    color:#448D8F;
    display:block;
}
#search-idol-suggest .suggest .loc{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:10px;
    color:#448D8F;
    float:right;
}
#search-idol-suggest .suggest .loc:before {content:" ";background-image:url(../images/loc-icon-s.png);width:9px;height:12px;position: absolute;margin-left: -17px;margin-top:-1px;}

#search-idol-suggest a{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:12px;
    color:#B8FFF8;
    display:block;
    background-color: #00041B;
    text-align:center;
    line-height:23px;
    text-decoration:none;
}


#header-login-link {
    background-color:#98D3CD;
    width:123px;
    height:27px;
    border:solid 1px white;
    display:inline-block;
    text-align: center;
    line-height:27px;
    float:right;
    text-decoration:none;
    color:#2A5859;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:14px;
    margin-right:4px;
}

#header-login-link:hover {
    background-color:#B8FFF8;
}
.user-opt {
    width:155px;
    height:28px;
    margin-left:85px;
    display:inline-block;
}
.user-opt .config{
    background-image:url(../images/icon-config.png);
    background-repeat:no-repeat;
    width:28px;
    height:28px;
    cursor:pointer;
    float:left;
}
.user-opt .mensajes{
    background-image:url(../images/icon-mensajes.png);
    background-repeat:no-repeat;
    width:33px;
    height:28px;
    cursor:pointer;
    float:left;
    margin-left:33px;
    margin-right:33px;
}
.user-opt .noti{
    background-image:url(../images/icon-noti.png);
    background-repeat:no-repeat;
    width:28px;
    height:28px;
    cursor:pointer;
    float:left;
}
#header .username {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight:700;
    color:white;
    font-size:16px;
    float:right;
    line-height:20px;
    margin-right:35px;
    margin-top:5px;
    width:150px;
    text-align:right;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden;
}

#home-top-banner {
    height:397px;
    background-image: url(../images/home-top-banner.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    z-index:0;
}

#home-top-banner-op {
    background-color:rgba(0,4,27,.65);
    height:397px;
    width:100%;
    z-index:0;
}

#registrate_line {
    width: 100%;
    height: 1px;
    background: white;
    z-index: 1;
    position: relative;
    bottom: 10px;
}

#home-top-banner-h1 {
    padding: 28px 5px 16px 5px;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight:700;
    color:white;
    font-size:41.77px;
   /* padding-left:60px;*/
   text-align: center;
}
#home-top-banner-h1 span{
    color:#B2F7F1;
}
.home-top-banner-h2 {
    /*background-color:rgba(0,4,27,.3);*/
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight:400;
    color:#B2F7F1;
    font-size:22px;
    padding: 0 10px;
    display:block;
    margin:0 auto 0 auto;
    line-height:40px;
    text-align: center;
    max-width: 550px;
}
#home-top-banner-rtx {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight:700;
    font-size:35px;
    color:white;
    text-transform:uppercase;
    /*margin-left:60px;*/
    margin-top:23px;
    display:inline-block;
    margin-right:300px;
    z-index:2;
}
#rtx-border {
    position:absolute;
    height:10px;
    background:#448D8F;
    z-index:2;
    width:260px;
}
#rtx-border-how {
    position:absolute;
    color:#98D3CD;
    font-size:12.41px;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    margin-top:25px;
}
#rtx-border-how:hover{color:white;}
#rtx-line {
    position:absolute;
    /*width:980px;*/
    width: 100%;
    height:1px;
    background:white;
   /* margin-left:-60px;*/
    z-index:1;
}
#rtx-line-fan {
    position:absolute;
    color:white;
    font-size:41.77px;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    margin-top:-49px;    
    text-decoration:none;
    right:253px;
}
#rtx-line-fan:HOVER:before {
    content: attr(data-text);
    position:absolute;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:12.41px;
    color:#B2F7F1;
    width:200px;
    height:40px;
    text-transform:none;
    margin-top:-50px;
    padding-top:10px;
    text-align:center;
    background-image: url(../images/fan-hover.png);
    background-repeat:no-repeat;
}
#rtx-line-fan:after {
    content:" ";
    background-image: url(../images/reg-fan-arrow.png);
    background-repeat:no-repeat;
    width:13px;
    height:15px;
    position:absolute;
    margin-left:-84px;
    margin-top:10px;
}
#rtx-line-idolo {
    position:absolute;
    color:#B2F7F0;
    font-size:41.77px;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    margin-top:10px;    
    text-decoration:none;
    right:214px;
}
#rtx-line-idolo:HOVER:before {
    content: attr(data-text);
    position:absolute;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:12.41px;
    color:#B2F7F1;
    width:226px;
    height:40px;
    text-transform:none;
    margin-top:42px;
    padding-top:30px;
    padding-left:10px;
    padding-right:10px;
    text-align:left;
    background-image: url(../images/idolo-hover.png);
    background-repeat:no-repeat;
}
#rtx-line-idolo:after {
    content:" ";
    background-image: url(../images/reg-idolo-arrow.png);
    background-repeat:no-repeat;
    width:13px;
    height:15px;
    position:absolute;
    margin-left:-123px;
    margin-top:10px;
}

#aconocerob {
    width:957px;
    height:40px;
    background-color:#448D8F;
    float:right;
    margin-top:23px;
    padding-right:15px;
    margin-bottom:14px;
}
#aconocerob b{
    background-image:url(../images/conocer-arrow.png);
    background-repeat:no-repeat;
    width:12px;
    height:14px;
    margin-top:10px;
    margin-left:15px;
    display:inline-block;
}
#aconocert {
    height:32px;
    background-color:#98D3CD;
    margin-top: -9px;
    margin-left:9px;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:23px;
    line-height:25px;
    color:#2A5859;
    padding-top:8px;
    text-align:center;
    padding-left:33px;
    padding-right:33px;
    float:left;
}

.home-idol-small {
    width:326px;
    height:240px;
    display: inline-block;
    background-position:center center;
    position:relative;
}
.home-idol-small-bar {
    width:326px;
    height:25px;
    background-color:#98D3CD;
    margin-top:215px;
    position:absolute;
    line-height:9.5px;
}
.home-idol-small-bar div{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:11px;
    display:inline-block;
    color:#2A5859;
    margin-top:8px;
    text-transform:uppercase;
}
.home-idol-small-bar > div:nth-child(1) {margin-left:28px;}
.home-idol-small-bar > div:nth-child(2) {float:right;margin-right:28px;}
.home-idol-small-bar > div:nth-child(2):before {content:" ";background-image:url(../images/location-icon.png);width:9px;height:13px;position: absolute;margin-left: -17px;margin-top:-2px;}

.home-idol-big {
    width:489.5px;
    height:357px;
    display: inline-block;
    background-position:center center;
    margin-top:1px;
    position:relative;
}
.home-idol-big-bar {
    width:489.5px;
    height:25px;
    background-color:#98D3CD;
    margin-top:333px;
    position:absolute;
    line-height:9.5px;
}
.home-idol-big-bar div{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:11px;
    display:inline-block;
    color:#2A5859;
    margin-top:8px;
    text-transform: uppercase;
}
.home-idol-big-bar > div:nth-child(1) {margin-left:28px;}
.home-idol-big-bar > div:nth-child(2) {float:right;margin-right:28px;}
.home-idol-big-bar > div:nth-child(2):before {content:" ";background-image:url(../images/location-icon.png);width:9px;height:13px;position: absolute;margin-left: -17px;margin-top:-2px;}

.home-idol-artist {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:42.82px;
    color:white;
    position:absolute;
    right:16px;
    bottom:30px;
}

.home-idol-small:hover .home-idol-over { display:block; }
.home-idol-big:hover .home-idol-over { display:block; }
.home-idol-over {
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(68,141,143,.5);
    display:none;
    text-align:center;
    z-index: 2;
}
.home-idol-over a{
    width:271px;
    height:43px;
    text-align:center;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:15px;
    text-transform:uppercase;
    color:#98D3CD;
    display:inline-block;
    background-color: rgba(0,4,27,.8);
    border:solid 1px #98D3CD;
    line-height:43px;
    text-decoration:none;
}
.home-idol-over a:hover{
    background-color: rgba(0,4,27,1);
}
.home-idol-over > a:nth-child(1) {margin-top:25px;}
.home-idol-over > a:nth-child(2) {margin-top:10px;}


.home-idol-big .home-idol-over > a:nth-child(1) {margin-top:105px;}
.home-idol-big .home-idol-over > a:nth-child(2) {margin-top:10px;}


/* CONTACTO */

#home-top-banner.inners {
    height:238px;
    background-position: center -32px;
}
.inners #home-top-banner-op {
    height:238px;   
}
.inners #home-top-banner-rtx {
    margin-top:47px;
    line-height: 43px;
}
#home-top-banner-op-inner {
    background-color:rgba(68,141,143,.35);
    height:118px;
    width:860px;
    z-index:0;   
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:15px;
    padding-left:60px;
    padding-right:60px;
    padding-top:30px;
    color:white;
    line-height:23px;
    
}
#home-top-banner-op-inner h2 {
    font-size:19px;    
    margin:0;
    padding:0;
    line-height:23px;
    display:inline;
}
#rtx-border.contacto {
    width:152px;
}
#rtx-border.activar_cuenta {
    width:238px;
}
#rtx-border.recuperar {
    width:421px;
}
#rtx-border.desactivar {
    width:292px;
}
#rtx-border.registrate_como {
    width:260px;
}
#rtx-border.searchresults {
    width:385px;
}
#rtx-border.notificaciones {
    width:236px;
}

#inners-text {
    margin-top:6px;
    padding-left:60px;
    padding-right:60px;
    padding-top:31px;
    padding-bottom: 31px;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:15px;
    background-color:#F4F7F8;
    line-height:25px;
}
#inners-text a {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:15px;    
    color:#448D8F;
    text-decoration:none;
}

/* RECUPERAR CONTRASEÑA */

form.recuperar  {
    margin-bottom:15px;
    margin-top:7px;
}

.recuperar input[type=text] {
    width:479px;
    height:30px;
    padding-left:10px;
    border:solid 1px #448D8F;
    outline:none;
    font-size:13px;
    color:#808080;
}

.recuperar input[type=submit] {
    width:105px;
    height:48px;
    background-color:#448D8F;
    color:#B8FFF8;
    border:none;
    outline:none;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:17px;
    vertical-align:sub;
    margin-left:23px;
}

#inners-text .error {
    color:red;
    font-weight: 400;
}


/* DESACTIVAR CUENTA */

form.desactivar {
    margin-top:10px;
}

.desactivar label {
    display:block;
    height:40px;
    cursor: pointer;  
    position: relative;  
    padding-left: 43px;  
    font-size:14px;
    font-weight:300;
}

.desactivar label:before {  
        content: "";  
        width: 29px;  
        height: 29px;  
        border:solid 1px #448D8F;
        margin-right: 10px;  
        position: absolute; 
        z-index:0;
        left:0; 
        background-color: transparent;    
}  

.desactivar input[type=checkbox] {  
        display: none;  
}  
    
.desactivar input[type=checkbox]:checked +  label:before {  
    content: ""; 
    font-size: 15px;  
    color: #f3f3f3;  
    text-align: center;  
    line-height: 15px;  
    background-image:url(../images/tilde.png);
}

.desactivar input[type=submit] {
    width:189px;
    height:48px;
    background-color:#448D8F;
    color:#B8FFF8;
    border:none;
    outline:none;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:17px;
    margin-top:10px;
}

.desactivar textarea {
    border:solid 1px #448D8F;
    width:469px;
    height:34px;
    display:block;
    padding-left:10px;
    padding-right:10px;
    padding-top:7px;
    padding-bottom:7px;
}
.desactivar_error {
    border:solid 2px red;
    display:inline-block;
    padding:7px;
}

/* REGISTRATE COMO */
#home-top-banner-op-inner .registrate_como {
    width:226px;
    height:138px;
    background-color:#00041B;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:75px;
    line-height:115px;
    margin-top:-20px;
    margin-left:17px;
    text-align:center;
}

/* PERFIL IDOLO */

.idolhead {
    height:551px;
    width:980px;
}
.idolhead .cover{
    width:980px;
    height:367px;
    background-repeat:no-repeat;
}
.idolhead .cover .title {
    height:89px;
    width:980px;    
    background-color:rgba(0,4,27,.65);
    border-bottom:solid 1px white;
}
.idolhead .cover .title > a {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;    
    font-size:25px;
    text-decoration:none;
    color:#98D3CD;
    margin-left:57px;
    margin-right:57px;
    margin-top:60px;
    float:right;
}
.idolhead .cover .title > a:nth-child(1) {
    border-bottom: 10px solid #448d8f;
    color: white;
    float: left;
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
    margin-top: 42px;
    text-transform:uppercase;
    }
.idolhead .cover .title > a:nth-child(2) { }

#idolheadmenu {
    background-color:#00041B;
    width:980px;
    height: auto;
    padding-top:8px;
    padding-bottom:11px;
}

#idolheadmenu #idolpic{
    position:absolute;
    width:208px;
    height:208px;
    border:solid 5px #E8EEEF;
    left:50%;
    margin-left:-109px;
    margin-top:-188px;
}
#idolheadmenu input {
    width:185px;
    height:25px;
    margin-left:57px;
    border:none;
    outline:none;
    vertical-align:top;
}
#fb-icon-idol {
    margin-left:21px;
}
#tt-icon-idol {
    margin-left:15px;
}
#idolheadmenu .loc{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:11px;
    color:white;
    float:right;
    text-transform: uppercase;
    margin-top:7px;
    margin-right:89px;
}
#idolheadmenu .loc:before {content:" ";background-image:url(../images/loc-icon-s.png);width:9px;height:12px;position: absolute;margin-left: -17px;margin-top:-1px;}

#idolheadmenu .slogan {
    position:absolute;
    width:946px;
    height:77px;
    background-color:#448D8F;
    margin-left:-25px;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:27px;
    text-align:center;
    line-height:70px;
    color:#B8FFF8;
    padding-left:42px;
    padding-right:42px;
    margin-top:16px;
}

#idolheadmenu .slogan .arrow-left {
	width: 0; 
	height: 0; 
	border-top: 38.5px solid transparent;
	border-bottom: 38.5px solid transparent;
	border-left: 39px solid #E8EEEF;
    float:left;
    margin-left:-42px;
    -webkit-transform:rotate(360deg);
}
#idolheadmenu .slogan .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 38.5px solid transparent;
	border-bottom: 38.5px solid transparent; 
	border-right: 39px solid #E8EEEF; 
    float:right;
    margin-right:-42px;
    -webkit-transform:rotate(360deg);
}
#idolheadmenu .linksbtn {
    width: 365px;
    margin:0 auto;
    margin-top:109px;
    text-align: center;
}
#idolheadmenu .linksbtn a {
    width:105px;
    height:30px;
    line-height:30px;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:17px;
    text-align:center;
    text-transform:uppercase;
    display:inline-block;
    color:#00041B;
    background-color:#98D3CD;
    text-decoration:none;
    margin-left:8px;
    margin-right:8px;
}

#idolheadmenu .linksbtn a:hover {
    background-color:#B8FFF8;
}


#idolheadmenu .suscribirse {
    background-color:#448D8F;
    width:163px;
    height:35px;
    display:inline-block;
    color:#B8FFF8;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:17px;
    float:right;
    margin-right: 22px;
    margin-top:-35px;
    text-align:center;
    text-decoration:none;
    line-height:35px;
}
#idolheadmenu .suscribirse:hover {
    background-color:#98D3CD;
    color:#00041B;
}

.perfilbio {
    clear: both;
    background-color:#98D3CD;
    width:890px;
    padding-left:45px;
    padding-right:45px;
    padding-top:15px;
    padding-bottom:15px;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:15px;
    line-height:22px;
    color:#00041B;
}

.activitycon {
    position:relative;
    clear: both;
    background-color:#F4F7F8;
    width:820px;
    padding-top:24px;
    padding-left:80px;
    padding-right:80px;
    margin-top:5px;
}
.activitycon .foot {
    background-color:#448D8F;
    width:980px;
    height:16px;
    margin-left: -80px;
    margin-top:30px;
    bottom:0;
}
.activitycon .foot .loc{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:10px;
    color:white;
    float:left;
    text-transform: uppercase;
    line-height:16px;
    margin-left:35px;
}

.activitycon .foot .loc:before {
    content:" ";
    background-image:url(../images/loc-icon-w.png);
    width:7px;
    height:10px;
    position: absolute;
    margin-left: -12px;
    margin-top:3px;
}
.activitycon .foot .date{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:10px;
    color:white;
    float:right;
    text-transform: uppercase;
    line-height:16px;
    margin-right:35px;
}
.activitycon .title {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:17px;
    color:#2A5859;
    line-height:17px;
    text-align:justify;
    margin-bottom:10px;
}
.activitycon .options {
    position:absolute;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:12px;
    color:#448D8F;
    right:15px;
    top:11px;
}
.activitycon .options .star{
    background-image:url(../images/e-star.png);
    background-repeat:no-repeat;
    background-position:center top;
    height:21px;
    padding-top:25px;
    cursor:pointer;
    min-width:30px;
    text-align:center;
}
.activitycon .options .star.f{
    background-image:url(../images/f-star.png);
}
.activitycon .options .comment{
    background-image:url(../images/e-comment.png);
    background-repeat:no-repeat;
    background-position:center top;
    height:21px;
    padding-top:22px;
    cursor:pointer;
    min-width:30px;
    text-align:center;
}
.activitycon .options .comment.f{
    background-image:url(../images/f-comment.png);
}
.activitycon .text {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:15px;
    color:#00041B;
    line-height:22px;
    text-align:justify;
}
.activitycon .text:before {
    content:"";
    position:absolute;
    width:35px;
    height:37px;
    background-image:url(../images/act-icon-text.png);
    background-repeat:no-repeat;
    margin-left:-60px;
    margin-top:-25px;
}
.activitycon .video {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:14px;
    color:#00041B;
    line-height:22px;
    text-align:justify;
}
.activitycon .video:before {
    content:"";
    position:absolute;
    width:37px;
    height:25px;
    background-image:url(../images/act-icon-video.png);
    background-repeat:no-repeat;
    margin-left:-60px;
    margin-top:-25px;
}
.activitycon .video img{
    display:block;
    padding:115.5px;
    background-repeat:no-repeat;
    background-position:center center;
    margin:0 auto;
    margin-top:15px;
}
.activitycon .album {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:14px;
    color:#00041B;
    line-height:22px;
    text-align:justify;
}
.activitycon .album:before {
    content:"";
    position:absolute;
    width:37px;
    height:32px;
    background-image:url(../images/act-icon-album.png);
    background-repeat:no-repeat;
    margin-left:-60px;
    margin-top:-25px;
}
.activitycon .album , .video , .text{
    min-height:15px;
}
.activitycon .audio {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:14px;
    color:#00041B;
    line-height:22px;
    text-align:justify;
}
.activitycon .audio:before {
    content:"";
    position:absolute;
    width:37px;
    height:32px;
    background-image:url(../images/act-icon-audio.png);
    background-repeat:no-repeat;
    margin-left:-60px;
    margin-top:-25px;
}
.comments_c {
    background-color:white;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:14px;
    padding-top:10px;
    padding-right:88px;
    padding-left:88px;
    padding-bottom:10px;
    clear:both;
    position:relative;
}
.comments_c .add {
    position:relative;
}
.comments_c .add img {
    width:33px;
    height:33px;
    margin-right:10px;
    display:inline-block;
}
.comments_c .add form {
    position:relative;
    display:inline-block;
    vertical-align:top;
}
.comments_c .add textarea {
    width:649px;
    height:33.5px;
    border:solid 1px #448D8F;
    resize: none;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:9px;
    padding-right:95px;
    overflow:hidden;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:11px;
}
.comments_c .add input {
    position:absolute;
    right:12px;
    top:12px;
    background-color:#448D8F;
    height:25px;
    color:#B8FFF8;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:13px;
    line-height:25px;
    padding-left:18px;
    padding-right:18px;
    border:none;
}
.comments_c .add input:hover {
    background-color:#98D3CD;
    color:#00041B;
}
.comments_c .comments_u {
    background-color:white;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:14px;
    clear:both;
    position:relative;
    margin-top:17px;
    padding-bottom:10px;
    border-bottom:solid 1px #448D8F;
}
.comments_c .comments_u img {
    width:33px;
    height:33px;
    margin-right:10px;
    display:inline-block;
}
.comments_c .comments_u .comment {
    overflow:hidden;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:13px;
    line-height:15.6px;
    display:inline-block;
    vertical-align:top;
    width:750px;
    color:#333333;
}
.comments_c .comments_u .comment .title {
    margin-bottom:10px;
}
.comments_c .comments_u .comment .date {
    position:absolute;
    right:0;
    top:0;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:9px;
    color:#999999;
}
.comments_c .more {
    width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid #00041B;
    -webkit-transform:rotate(360deg);
    margin:0 auto;
    margin-top:10px;
    cursor:pointer;
}
#registro {
    width:690px;
    max-width:980px;
    clear:both;
    background-color:#F4F7F8;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:15px;
    line-height:22px;
    color:#00041B;
    padding-left:145px;
    padding-right:145px;
    padding-top:16px;
    padding-bottom:16px;
}
#registro input[type=text] {
    width:317px;
    height:27px;
    padding-left:10px;
    border:solid 1px #448D8F;
    outline:none;
    font-size:13px;
    color:#808080;
    display:block;
    margin-top:5px;
}
#registro .left {
    width:330px;
    display:inline-block;
    margin-bottom:12px;
    margin-right:26px;
    vertical-align: top;
}
#registro .right {
    width:330px;
    display:inline-block;
    vertical-align: top;
}
#registro .qa {
    width:17px;
    height:17px;
    border-radius:100%;
    background-color:#448D8F;
    text-align:center;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:12px;
    line-height:17px;
    color:#B8FFF8;
    display:inline-block;
    cursor:pointer;
}
#registro .qa:hover:before {
    content:attr(data-qa);
    position:absolute;
    border:solid 1px #808080;
    background-color:#00041B;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:12px;
    margin-left:20px;
    padding:4px;
}

#registro hr {
    border:none;
    border-bottom:solid 1px #00041B;
    background:transparent;
    height:1px;
    margin-bottom:0;
    opacity:.2;
}
#registro h2 {
    color:#2A5859;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:15px;
    margin-bottom:20px;
}
#registro .fbicon {
    width:29px;
    height:29px;
    background-color:#448D8F;
    background-image: url(../images/fb-icon-inner.png);
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
    margin-top:5px;
}
#registro .tticon {
    width:29px;
    height:29px;
    background-color:#448D8F;
    background-image: url(../images/tt-icon-inner.png);
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
    margin-top:5px;
}
#registro input.fb,#registro input.tt{
    width:270px;
    vertical-align:top;
    float:right;
}
#registro span {
    margin-left:47px;
}
#registro label {
    display:block;
    height:40px;
    cursor: pointer;  
    position: relative;  
    padding-left: 43px;  
    font-size:14px;
    font-weight:300;
}

#registro label:before {  
        content: "";  
        width: 29px;  
        height: 29px;  
        border:solid 1px #448D8F;
        margin-right: 10px;  
        position: absolute; 
        z-index:0;
        left:0; 
        background-color: transparent;    
}  

#registro input[type=checkbox] {  
        display: none;  
}  
    
#registro input[type=checkbox]:checked +  label:before {  
    content: ""; 
    font-size: 15px;  
    color: #f3f3f3;  
    text-align: center;  
    line-height: 15px;  
    background-image:url(../images/tilde.png);
}

#registro input[type=submit] {
    width:189px;
    height:48px;
    background-color:#448D8F;
    color:#B8FFF8;
    border:none;
    outline:none;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:17px;
    float:right;
}


/* PERFIL USUARIO */

.userhead {
    height:369px;
    width:980px;
}
.userhead .cover{
    width:980px;
    height:367px;
    background-repeat:no-repeat;
}
.userhead .cover .title {
    height:89px;
    width:980px;    
    background-color:rgba(0,4,27,.65);
    border-bottom:solid 1px white;
}
.userhead .cover .title > a {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;    
    font-size:25px;
    text-decoration:none;
    color:#98D3CD;
    margin-left:57px;
    margin-right:57px;
    margin-top:60px;
    float:right;
}
.userhead .cover .title > a:nth-child(1) {
    border-bottom: 10px solid #448d8f;
    color: white;
    float: left;
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
    margin-top: 42px;
    text-transform:uppercase;
}

.userhead #userpic{
    position:absolute;
    width:173px;
    height:173px;
    border:solid 5px #E8EEEF;
    border-bottom:none;
    left:50%;
    margin-left:-91.5px;
    margin-top:-178px;
}

.user-idol-small {
    width:244px;
    height:179px;
    display: inline-block;
    background-position:center center;
    position:relative;
    margin-left:1px;
    margin-bottom:1px;
}
.user-idol-small-bar {
    width:244px;
    height:18px;
    background-color:#98D3CD;
    margin-top:161px;
    position:absolute;
    line-height:9.5px;
}
.user-idol-small-bar div{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:9px;
    display:inline-block;
    color:#2A5859;
    margin-top:5px;
    text-transform:uppercase;
}
.user-idol-small-bar > div:nth-child(1) {margin-left:23px;}
.user-idol-small-bar > div:nth-child(2) {float:right;margin-right:23px;}
.user-idol-small-bar > div:nth-child(2):before {content:" ";background-image:url(../images/location-icon.png);background-size:auto 100%;width:7px;height:10px;position: absolute;margin-left: -10px;margin-top:-1px;}

.user-idol-small:hover .user-idol-over { display:block; }

.user-idol-artist {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:32px;
    color:white;
    position:absolute;
    right:8px;
    bottom:28px;
}
.user-idol-over {
    position:absolute;
    width:100%;
    height:117px;
    background-color: rgba(68,141,143,.95);
    display:none;
    text-align:center;
    z-index: 2;
    margin-top:62px;
}
.user-idol-over a{
    width:118px;
    height:27px;
    text-align:center;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:11px;
    text-transform:uppercase;
    color:#98D3CD;
    display:inline-block;
    background-color: rgba(0,4,27,.8);
    border:solid 1px #98D3CD;
    line-height:27px;
    text-decoration:none;
    margin-top:10px;
}
.user-idol-over a:hover{
    background-color: rgba(0,4,27,1);
}
.user-idol-over h2{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:12px;
    text-transform:uppercase;    
    color:#98D3CD;
    margin-top:12px;
}
.user-idol-over h3{
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:39px;
    text-transform:uppercase;   
    color:#98D3CD; 
    margin-top:7px;
}


.comments_uc {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:14px;
    clear:both;
    position:relative;
}
.comments_uc .comments_u {
    background-color:white;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:14px;
    clear:both;
    position:relative;
    background-color:white;
    padding-top:10px;
    padding-right:10px;
    padding-left:25px;
    padding-bottom:10px;
    margin-bottom:5px;

}
.comments_uc .comments_u img {
    width:33px;
    height:33px;
    margin-right:10px;
    display:inline-block;
}
.comments_uc .comments_u .comment {
    overflow:hidden;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:13px;
    line-height:15.6px;
    display:inline-block;
    vertical-align:top;
    width:750px;
    color:#333333;
}
.comments_uc .comments_u .comment .title {
    margin-bottom:10px;
}
.comments_uc .comments_u .comment .date {
    position:absolute;
    right:9px;
    top:0;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:9px;
    color:#999999;
}
.comments_uc .more {
    width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid #00041B;
    -webkit-transform:rotate(360deg);
    margin:0 auto;
    margin-top:10px;
    cursor:pointer;
}
#popup {
    background-color:rgba(255,255,255,.8);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1000;
}
#popup .head {
    width:588px;
    height:auto;
    background-color:rgba(0,4,27,.8);
    position:fixed;
    left:50%;
    top: 10%;
    margin-left:-294px;
}
#popup .head .cover{
    width:588px;
    height:auto;
    background-repeat:no-repeat;
}
#popup .head .cover .title {
    width:588px;
    height:89px;
    background-color:rgba(42,88,89,.8);
    border-bottom:solid 1px white;
}
#popup .head .cover .title > b {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:35px;
    text-decoration:none;
    color: white;
    margin-left:39px;
    margin-top: 42px;
    float: left;
    text-transform:uppercase;
    line-height: 47px;
    border-bottom: 10px solid #448d8f;
}
#popup .head .cover p {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:16px;
    color: #B8FFF8;
    margin-left:39px;
    margin-top: 35px;
    margin-bottom:30px;
    float: left;
    line-height: 22px;
}
#inners-text.searchresults {
    padding-left:145px;
    padding-top:11px;
    padding-right:0px;
}

#inners-text.searchresults .rtitle {
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:16px;
    color:#00041B;
    margin-bottom:14px;
}
#inners-text.searchresults .rtitle strong{
    font-weight: 700;
    color:#2A5859;    
}

#inners-text.searchresults .result {
    width:410px;
    height:121px;
    float:left;
}
#inners-text.searchresults .result .img{
    width:131px;
    height:87px;
    background-size:100% auto;
    background-repeat:no-repeat;
    margin-right:10px;
    display:inline-block;
    vertical-align:top;
    border:solid 1px #2A5859;
}
#inners-text.searchresults .result .texts {
    display:inline-block;
    
}
#inners-text.searchresults .result .idol {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:20px;
    line-height:28px;
    text-transform:uppercase;
    color:#00041B;
    margin-top:10px;
}

#inners-text.searchresults .result .cate{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:9px;
    line-height:18px;
    text-transform:uppercase;
    color:#2A5859;
}
#inners-text.searchresults .result .loc{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:9px;
    text-transform:uppercase;
    color:#2A5859;
    line-height:18px;
    margin-left:18px;
}
#inners-text.searchresults .result .loc:before {content:" ";background-image:url(../images/location-icon.png);width:9px;height:13px;position: absolute;margin-left: -17px;margin-top:2px;}

#inners-text.searchresults .more {
    width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid #00041B;
    -webkit-transform:rotate(360deg);
    margin-left:337px;
    margin-top:10px;
    cursor:pointer;
}

#inners-text.notificaciones .date{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:15px;
    color:#00041B;
    line-height:30px;
}
#inners-text.notificaciones .notificacion{
    padding-left:64px;
    border-bottom:solid 1px #666666;
    position:relative;
}
#inners-text.notificaciones .notificacion:before{
    content:"";
    width:18px;
    height:18px;
    background-repeat:no-repeat;
    background-size:100% auto;
    position:absolute;
    margin-left:-45px;
}
#inners-text.notificaciones .notificacion.album:before{
    background-image:url(../images/act-icon-album.png);
    margin-top:4px;
}
#inners-text.notificaciones .notificacion.text:before{
    background-image:url(../images/act-icon-text.png);
    margin-top:4px;
}
#inners-text.notificaciones .notificacion.audio:before{
    background-image:url(../images/act-icon-audio.png);
    margin-top:5px;
}
#inners-text.notificaciones .notificacion.video:before{
    background-image:url(../images/act-icon-video.png);
    margin-top:7px;
}
#inners-text.notificaciones .notificacion .text{
    width:480px;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden;
    display:inline-block;
    vertical-align:top;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size:13px;
    color:#666666;
}
#inners-text.notificaciones .notificacion a{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size:13px;
    line-height:20px;
}
#inners-text.notificaciones .notificacion .date{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:10px;
    display:inline-block;
    margin-left:20px;
    color:#666666;
}
#inners-text.notificaciones .notificacion .loc{
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:8px;
    text-transform:uppercase;
    color:#666666;
    margin-left:18px;
    display:inline-block;
}
#inners-text.notificaciones .notificacion .loc:before {content:" ";background-image:url(../images/loc-icon-gray.png);width:7px;height:10px;position: absolute;margin-left: -12px;margin-top:8px;}

#inners-text.notificaciones .notificacion .delete{
    background-image:url(../images/delete1.png);
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    position: absolute;
    right:6px;
    top:6px;
    cursor:pointer;
}

#inners-text.notificaciones .more {
    width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid #00041B;
    -webkit-transform:rotate(360deg);
    margin:0 auto;
    margin-top:10px;
    cursor:pointer;
}

/***Ultimos cambios en el index***/
#registrate_como {
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight:700;
    color:white;
    font-size: 35px;
    margin-right: 15%;
    display: inline-block;
    border-bottom: 10px solid #448D8F;
    z-index: 100;
    padding-top: 60px;
}

#registrate_fan {
    display: block;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight:700;
    color:white;
    font-size: 41px;   
}

#registrate_fan:after {
    content:" ";
    background-image: url(../images/reg-fan-arrow.png);
    background-repeat:no-repeat;
    width:13px;
    height:15px;
    position:absolute;
    margin-left:-79px;
    margin-top:14px;
}

#registrate_idolo {
    display: inline-block;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    font-weight:700;
    color:#B2F7F1;
    font-size: 41px;
    margin-top: 23px;    
}

#registrate_idolo:after {
    content:" ";
    background-image: url(../images/reg-idolo-arrow.png);
    background-repeat:no-repeat;
    width:13px;
    height:15px;
    position:absolute;
    margin-left:-116px;
    margin-top:14px;   
}

#fan_idolo {
    position: relative;
    top: 49px;
}

#como_funciona {
    color:#98D3CD;
    font-size:13px;
    font-family: "Open Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    margin: 22px 0 0 25%;
    display: inline-block;
}

#como_funciona:hover {
    color: white;
}

.flex-wider {
    width:50%;
    margin:-10px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#index_titulo_idolos {
    text-align: center;
    font-size:31px;
    font-family: "Oswald","Trebuchet MS", Helvetica, sans-serif;
    color: #2A5859;
    font-weight: 700;
    margin:30px auto;
}

/***Tooltip para FAN en index ***/ 
a.tooltip-top {
  position: relative;
  display: inline;
}
a.tooltip-top span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  border: 2px solid #FFFFFF;
  height: 45px;
  line-height: 56px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  font-size: 13px;
}
a.tooltip-top span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #FFFFFF;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltip-top span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltip-top span {
  visibility: visible;
  opacity: 1;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

/***Tooltip para IDOLO en index***/
a.tooltip-bottom {
  position: relative;
  display: inline;
}
a.tooltip-bottom span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  border: 2px solid #FFFFFF;
  height: 45px;
  line-height: 56px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  font-size: 13px;
}
a.tooltip-bottom span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 12px solid #FFFFFF;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltip-bottom span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltip-bottom span {
  visibility: visible;
  opacity: 1;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}